body{background-image: url("BGwallpaper.jpeg");}
h1{font-family: Times New Roman(serif);
  font-weight: bold;
  color:#85db00;}
h2{font-family: Times New Roman(serif);
  font-weight: bold;
  color:#73bc01}
p{font-weight: bold;
  color: black;}
Img{
  width: 300px;
}